# Port number for the server
PORT=PORT

# Host name for the server
HOST=HOST

# URI for MongoDB connection
MONGO_URI=mongodb+srv://<username>:<password>@clusterName.yourDatabase.mongodb.net/?retryWrites=true&w=majority

# Expires time (minutes) for access token
EXPIRES_IN=EXPIRES_IN

# Expires time (minutes) for refresh token
REFRESH_EXPIRES_IN=REFRESH_EXPIRES_IN

# JWT private key for access token
JWT_SECRET_KEY=JWT_SECRET_KEY

# JWT private key for refresh token
JWT_REFRESH_SECRET_KEY=JWT_REFRESH_SECRET_KEY